{% extends 'base.html.twig' %}

{% block body %}
    <div class="accordion" id="accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-link="{{ path('rm_producto.num_promociones.edit', {'id_instancia': 1, 'id_grupo_slot': 34}) }}"  data-toggle="collapse" data-parent="#accordion" href="#grupo1">
                    <h4 class="widgettitle">Grupo Slot 1</h4>
                </a>
            </div>

            <div id="grupo1" class="accordion-body collapse">
                <div class="accordion-inner"></div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-link="{{ path('rm_producto.num_promociones.edit', {'id_instancia': 2, 'id_grupo_slot': 2}) }}" data-toggle="collapse" data-parent="#accordion" href="#grupo2">
                    <h4 class="widgettitle">Grupo Slot 2</h4>
                </a>
            </div>

            <div id="grupo2" class="accordion-body collapse in">
                <div class="accordion-inner"></div>
            </div>
        </div>
    </div>
    
    <div id="loading" class="hidden">
        <div class="center-all animated fadeIn">
            <img src="{{ asset('images/loaders/loader6.gif') }}" alt=""/>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $(document).on('click', '.accordion-toggle', function(event){
                event.preventDefault();
                var $this = $(this);

                var parentRef = $this.attr('href');
                var innerContent = $(parentRef).find('.accordion-inner');
                var link = $this.data('link');
                if(innerContent.html().trim() === '') {
                    innerContent.html($('#loading').html())
                    innerContent.load(link, function(){
                        attachEventsFormulario.apply(innerContent.find('.formulario-configuracion'));
                    });

                }
            });

            function attachEventsFormulario() {
                var $this = $(this);
                var index = $this.data('index');
                var $form = $this.find('form');
                var $prototipo = $this.find('.prototipo').data('prototype');


                $this.find('button.nuevo').on('click', function(event){
                    event.preventDefault();
                    var row = $prototipo.replace(/__name__/g, ++index);
                    var $tabla = $this.find('.content table');
                    var index_interno = parseInt($this.data('index'));

                    if (index_interno == 0) {
                        $tabla.find('tbody tr').remove();
                    }
                    $tabla.append(row);
                    $this.data('index', ++index_interno);
                });

                $form.on('submit', function(event){
                    event.preventDefault();
                    var $this = $(this);
                    $.ajax({
                        url    : $this.attr('action'),
                        type   : $this.attr('method'),
                        data   : $this.serialize(),
                        success: function(response){
                            if(typeof response.form !== 'undefined') {
                                $this.find('.content').html(response.form);
                            }

                            jQuery.jGrowl(response.mensaje , {
                                        header: 'Notificación',
                                        life: 3000
                                    }
                            );
                        },
                        error: function(response) {
                            var response = JSON.parse(response.responseText);
                            if(typeof response.form !== 'undefined') {
                                $this.find('.content').html(response.form);
                            }

                            jQuery.jGrowl(response.mensaje , {
                                        header: 'Notificación',
                                        life: 3000
                                    }
                            );
                        }
                    });
                })
            }

            $(document).on('click', '.delRow', function(event){
                event.preventDefault();
                var $this = $(this).closest('.formulario-configuracion');
                var tabla = $this.find('.content table')
                var index = parseInt($this.data('index'));
                index = --index <= 0 ? 0 : index;
                $this.data('index', index);

                if(index <= 0) {
                    tabla.append('<tr><td colspan="4" class="center-all">{{ "sin.resultados" |trans|title }}</td></tr>');
                }

                $(this).closest('tr').remove();

            })
        });
    </script>
{% endblock body %}


