{% extends '::data/base_data.html.twig' %}

{% block title %}
    {{ "Módulo" | trans }} Data
{% endblock %}

{# {% block migas %}#}
{# 	<p><span class="ml1">M&oacute;dulo Data</span></p>#}
{# {% endblock %}#}

{% block contenedorPrincipal %}
    <div class="bloque_contenido">
        <div class="cabecera_contenido">
            <span>{{ "Módulo" | trans }} Data</span>
        </div>
    </div>
{% endblock %}