{% extends '::direct/base_direct.html.twig' %}

{% block title %}
    {{ "Módulo" | trans }} Direct
{% endblock %}

{% block contenedorPrincipal %}
    <div class="bloque_contenido">
        <div class="cabecera_contenido">
            <span>{{ "Módulo" | trans }} Direct</span>
        </div>
    </div>
{% endblock %}