parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: 3
    database_user: root
    database_password:
    mailer_transport: gmail
    mailer_host: smtp.gmail.com
    mailer_user: prueba@gmail.com
    mailer_password: prueba
    database_procesos_host: localhost
    database_procesos_port: null
    database_procesos_name: procesos
    database_procesos_user: root
    database_procesos_password:
    mongo_port:
    mongo_host_default:
    mongo_database_default:
    mongo_host_3:
    mongo_database_3:
    locale: es
    secret: thisIsSecret
