{% extends ':campaign:base_campaign.html.twig' %}

{% block contenedorPrincipal %}

    <div class="bloque_contenido sinborde">
        <h2>Pruebas de segmentador avanzado</h2>
    </div>
    <div>
        <div class="cabecera_contenido"><span>Prueba</span></div>
        <div class="linea_contenido">

        </div>
    </div>
    <div class="bloque_contenido">
        <div class="cabecera_contenido">
            <span> {{ "Buscador" | trans }} </span>
        </div>
        <form id="form" name="form">
            <input type="hidden" name="identificadorSeg" id="identificadorSeg" value="">
            <input type="hidden" name="idNombreSeg" id="idNombreSeg" value="">

            <input type="hidden" name="controlBorradoTexto" id="controlBorradoTexto" value="">
            <input type="hidden" name="controlBorradoFiltro" id="controlBorradoFiltro" value="">

            <div class="linea_contenido">
                <table>
                    <tr>
                        <td rowspan="4" width="80%"><textarea
                                    style="width: 98%;height: 135px;border: 0px none;resize: none;"
                                    name="consolaSegmentos" id="consolaSegmentos"
                                    class="areaConsolaSegmentos"></textarea></td>
                        <td width="10%">
                            <button class="tam4" style="cursor: pointer" onclick="addConsola('(', event)" title="("> (
                            </button>
                        </td>
                        <td width="10%">
                            <button class="tam4" style="cursor: pointer" onclick="addConsola(')', event)" title=")"> )
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="tam4" style="cursor: pointer" onclick="addConsola('Y', event)" title="Y"> Y
                            </button>
                        </td>
                        <td>
                            <button class="tam4" style="cursor: pointer" onclick="addConsola('O', event)" title="O"> O
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="tam4" style="cursor: pointer" onclick="addConsola('NOT', event);" title="Y">
                                NOT
                            </button>
                        </td>
                        <td>
                            <button class="tam4" style="cursor: pointer" onclick="" title="O"> SEGMENTO</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="tam4" style="cursor: pointer" onclick="clearConsola(event);" title="CE"> CE
                            </button>
                        </td>
                        <td>
                            <button class="tam4" style="cursor: pointer" onclick="deleteConsola(event);" title="<--">
                                <--
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

        </form>
    </div>
    <div id="capaSegmentos">
        {{ include('RMSegmentoBundle:Default:Buscador/buscadorCapaSegmentosPopup.html.twig') }}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            filtro = [];
        });

        function addConsola(texto, event) {
            var target, id;
            var textoConsola = $("#consolaSegmentos").val();
            textoConsola += texto + " ";
            var controlLongitudBorrado = $("#controlBorradoTexto").val();
            controlLongitudBorrado += textoConsola.length + ";";
            $("#controlBorradoTexto").val(controlLongitudBorrado);
            $("#consolaSegmentos").val(textoConsola);
            event.preventDefault();

            target = event.target;
            if (id = event.target.dataset.id) {
                addFiltro(id, event);
            }
            else {
                addFiltro(texto, event);
            }

            if (['Y', 'O', 'NOT'].indexOf(texto) >= 0) {
                ultimaCondicion = texto;
                console.log(ultimaCondicion);
            }
        }

        function addFiltro(texto, event) {
            var consola = document.getElementById('consolaSegmentos');
            var controlBorrado = document.getElementById('controlBorradoFiltro');
            var filtro = consola.dataset.filtro;

            if (typeof filtro === 'undefined') {
                filtro = '';
            }

            switch (texto) {
                case 'Y':
                case 'AND':
                    texto = '&';
                    break;
                case 'O':
                case 'OR':
                    texto = '|';
                    break;
                case 'NOT':
                case 'NO':
                    texto = '!';
                    break;

                default :
            }

            filtro += texto + " ";

            controlBorrado.value += filtro.length + ';';
            consola.dataset.filtro = filtro;
        }

        function clearConsola(event) {
            $("#consolaSegmentos").val("");
            $("#controlBorradoTexto").val("");
            event.preventDefault();
            clearFiltro();
        }

        function clearFiltro() {
            document.getElementById('consolaSegmentos').dataset.filtro = '';
            document.getElementById('controlBorradoFiltro').value = '';
        }

        function deleteConsola(event) {
            var textoConsola = $("#consolaSegmentos").val();
            var controlLongitudBorrado = $("#controlBorradoTexto").val();

            if (controlLongitudBorrado.length > 0) {
                var arrayLongitudes = controlLongitudBorrado.split(";");
                if (arrayLongitudes.length == 1) {
                    clearConsola(event);
                }
                else {
                    var nuevaLongitudTexto = "";
                    var longitudCortar = 0;
                    for (var i = 0; i < arrayLongitudes.length - 2; i++) {
                        nuevaLongitudTexto += arrayLongitudes[i] + ";";
                        longitudCortar = arrayLongitudes[i];
                    }
                    $("#controlBorradoTexto").val(nuevaLongitudTexto);
                    textoConsola = textoConsola.substring(0, longitudCortar);
                    $("#consolaSegmentos").val(textoConsola);
                }
            }
            deleteFiltro(event);
            event.preventDefault();
        }

        function deleteFiltro(event) {
            var consola = document.getElementById('consolaSegmentos');
            var controlBorrado = document.getElementById('controlBorradoFiltro');
            var filtro = consola.dataset.filtro;

            if (controlBorrado.value.length > 0) {
                var arrayLongitudes = controlBorrado.value.split(";");
                if (arrayLongitudes.length == 1) {
                    clearFiltro(event);
                }
                else {
                    var nuevaLongitudTexto = "";
                    var longitudCortar = 0;
                    for (var i = 0; i < arrayLongitudes.length - 2; i++) {
                        nuevaLongitudTexto += arrayLongitudes[i] + ";";
                        longitudCortar = arrayLongitudes[i];
                    }
                    $("#controlBorradoFiltro").val(nuevaLongitudTexto);
                    filtro = filtro.substring(0, longitudCortar);
                    consola.dataset.filtro = filtro;
                }
            }

            event.preventDefault();
        }

    </script>
{% endblock %}
