{#Formulario para pasar mediante post los parametros de las variables al popup de segmentos#}
<form id="formPopupSegmentos" name="formPopupSegmentos" method="POST" action="{{ path("direct_buscador_segmentos_popup") }}" onsubmit="submitPopupSegmentos(this)">
    <input type="hidden" name="identificadorSeg" id="identificadorSeg" value="">
    <input type="hidden" name="idNombreSeg" id="idNombreSeg" value="">
    <input type="hidden" name="fecha_busqueda" id="fecha_busqueda" value="{{ objInstancia is defined and objInstancia.fase.codigo is not constant('FASE_NEGOCIACION', objInstancia) ? objInstancia.fecCreacion|date('Y-m-d') : '' }}"/>
</form>

<script>
    function buscarSegmentos (identificador, idNombre){
        document.getElementById("identificadorSeg").value = identificador;
        document.getElementById("idNombreSeg").value = idNombre;
        $('#formPopupSegmentos').submit();
    }

    function submitPopupSegmentos(form){
        var largo = 1150;
        var altura = 950;
        var top = (screen.height - altura) / 2;
        var izquierda = (screen.width - largo) / 2;
        {% set nombreVentana = "Segmentos" %}
        var nomVentana = '{{ nombreVentana }}';
        window.open('', nomVentana, "width=" + largo + ",height=" + altura + ",top=" + top + ",left=" + izquierda);
        form.target = nomVentana;
    }
</script>