{% if valTipo > 1 %}
	{% set inicioBucle = 1 %}		
	{% if valTipo == 2 %}		
		{% set finBucle = 7 %}
	{% elseif valTipo == 3 %}
		{% set finBucle = 14 %}
	{% elseif valTipo >= 4 %}
		{% if (valMes == 1) or (valMes == 3) or (valMes == 5) or (valMes == 7) or (valMes == 8) or (valMes == 10) or (valMes == 12) %}
			{% set finBucle = 31 %}
		{% elseif valMes == 2 %}
			{% set finBucle = 28 %}
		{% else %}
			{% set finBucle = 30 %}
		{% endif %}
	{% endif %}
	
	<select id="dia" name="dia" class="tam150">
		{% for i in range(inicioBucle, finBucle) %}
			<option value="{{ i }}" {% if valDia == i %}selected{% endif %}>{{ i }}</option>
		{% endfor %}
	</select>
{% else %}
	-
{% endif %}