{% extends 'RMComunicacionBundle:Edicion:baseEdicion.html.twig' %}

{% set opcionMenuTabConfig = 2 %}
{% set objComunicacion = comunicacion %}
{% set id_comunicacion = comunicacion.idComunicacion %}
{% set opcionMenuTabComunicacion = 3 %}
{% set idOpcionMenuIzq = 1 %}

{% set tipo = {1: 'promocion'|trans|title, 2: 'creatividad'|trans|title } %}

{% block tabcontent %}

    {% include '@RMPlantilla/GrupoSlotsModelo/tabla_grupo_slot.html.twig' with {'entity': entity, 'tipo': tipo} %}

    <a class="btn btn-warning" href="{{ path('rm_comunicacion.comunicacion.editar_plantilla', {'idComunicacion': id_comunicacion}) }}">
        {{ "boton.volver" |trans|title}}
    </a>

{% endblock %}