<tr>
    <td>
        <input type="checkbox" name="nuevoSeg{{idNuevoSeg}}" />
    </td>
    <td>
        <input type="text" name="nuevoSegNombre{{idNuevoSeg}}" class="" value="" required="required" />
    </td>
    <td>
        <select name="nuevoSegCond{{idNuevoSeg}}" class="">
            <option value="1">&lt;</option>
            <option value="2">&lt;=</option>
        </select>
    </td>
    <td>
        <input type="number" name="nuevoSegPerc{{idNuevoSeg}}" class="soloNum" value="" required="required" />
    </td>
</tr>