<tr>
	<td>
		<input type="checkbox" name="nuevoSeg{{idNuevoGrupoSlots}}" />
	</td>
	<td>
		<input type="text" name="nuevoSegNombre{{idNuevoGrupoSlots}}" class="tamT" value="" />
	</td>
	<td>
		<input type="text" name="nuevoSegNumSlots{{idNuevoGrupoSlots}}" class="tam3 soloNum" value="" />
	</td>
</tr>