
{% extends '@RMProducto/Default/baseConfig.html.twig' %}

{% set opcionMenuTabConfig =  2%}

{% set tipo = {1: 'promocion'|trans|title, 2: 'creatividad'|trans|title } %}

{% block tabcontent %}

    {% include '@RMPlantilla/GrupoSlotsModelo/tabla_grupo_slot.html.twig' with {'entity': entity, 'tipo': tipo} %}

    <a class="btn btn-warning" href="{{ path('rm_plantilla_plantilla_modelo_edit', {'id': plantilla}) }}">{{ "boton.volver" |trans|title}}</a>

{% endblock %}


