{% extends 'RMComunicacionBundle:Edicion:baseEdicion.html.twig' %}

{% set idOpcionMenuSup = 1 %}
{% set idOpcionMenuIzq = 1 %}
{% set opcionMenuTabComunicacion = 1 %}


{% block title %}
	{{ parent() }} - {{ "comunicacion"|trans }}
{% endblock %}

{% block id %}ajax{% endblock id %}


{% block tabcontent %}
    {% set cumpleRequisitos = objComunicacion.gruposSlots|length > 0 and objComunicacion.segmentos|length > 0 %}

    <h4 class="widgettitle">{{ "datos"|trans|title }}</h4>

    {% include '@RMComunicacion/Comunicacion/formulario_comunicacion2.html.twig' with {'form': formulario, 'accion': 'editar'}   %}

    {{ render(controller('RMComunicacionBundle:SegmentoComunicacion:index', {'idComunicacion' : id_comunicacion} )) }}

{% endblock %}


